.list {
  margin: 50px 10px;

  .add-name {
    margin-left: 10px;
  }
  
  label {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: left;
    margin-left: 20px;
    color: darkgrey;
  }

  ul > li {
    font-weight: bold;
    font-size: 14px;
    color: navy;
    list-style-type: decimal;
    padding: 5px 0;
    width: 300px;
    margin-left: -20px;
    
    &:hover {
      background-color: lightgray;
    }
    
    button {
      margin-left: 10px;
      float: right;
    }
  }
}